* {
  font-family: 'Josefin Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav Bar */
.header {
  background-color: #6DDDD0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px
}

.header_logo {
  width: 250px;
  height: 80px;
  margin-left: 20px;
  margin-top: 8px;
}

/* Main Content */
.blank {
  width: 100%;
  height: 100px;
}

.background_img {
  width: 100%;
  height: auto;
}

/* report */
.report_section{
  margin: .5rem 0;
  padding: .5rem;
  border: 30px solid #6DDDD0;
  border-radius: 20px;
  background-color: white;
}

.report_section h1{
  color: #364F6b
}
