* {
    font-family: 'Josefin Sans', sans-serif;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.checkimg {
    width: 150px;
    height: 150px;
}

/* Nav Bar */
.header {
    background-color: #6DDDD0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 5;
}

.header_logo {
    width: 250px;
    height: 80px;
    margin-left: 20px;
    margin-top: 8px;
    z-index: 5;
}

/* Main Content */
.blank {
    width: 100%;
    height: 100px;
}

.main_image {
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.text-box {
    position: absolute;
    bottom: 8rem;
    left: 8rem;
    color: white;
    padding-left: 6rem;
    padding-right: 6rem;
}

.background_img {
    background-image: './img/smile.jpg';
    width: 100%;
    height: auto;
    filter: brightness(50%)
}


/* report */
.report_section {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    padding: .5rem;
    border: 5px solid #364F6b;
    border-radius: 50px;
    background-color: white;
}

.report_section h1 {
    color: #6DDDD0;
    margin-top: 5px;
    margin-left: 15px;
}

.report_section h2 {
    text-size-adjust: 15px;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 25px;
}

.report_section h3 {
    font-size: 20px;
    margin-left: 15px;
}

.phone-form {
    object-fit: contain;
    text-align: center;
    margin: auto
}

/* Footer */
.footer {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    background-color: #282c34;
    text-align: center;
    color: white;
    width: 100%;
    height: 200px;
    bottom: 0;
}

/* Checkpoint 1 */
.checkpoint h2 {
    animation: change1 5s step-end both;
}

@keyframes change1 {
    from {
        color: black
    }
    to {
        color: #6DDDD0
    }
}

/* Checkpoint 2 */
.checkpoint2 h2 {
    animation: change2 10s step-end both;
}

@keyframes change2 {
    from {
        color: black
    }
    to {
        color: #6DDDD0
    }
}

.checkpoint3 h2 {
    animation: change3 15s step-end both;
}

@keyframes change3 {
    from {
        color: black
    }
    to {
        color: #6DDDD0
    }
}

/* About */
.about h1 {
    color: #6DDDD0;
    margin-left: 3rem;
    margin-top: 2rem;
}

.about h2 {
    font-size: 20px;
    margin-left: 3rem;
    margin-top: 1rem;
}
